* {
    /* outline: 2px solid red; */
}

body {
    box-sizing: border-box;
    margin: 2;
    font-family: 'Roboto', sans-serif;
}

.icons {
    margin-left: 1.5rem;
    display: inline-block;
    font-size: 2.6rem;
}

.container {
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar > h1 {
    text-align: center;
    font-size: 2.8rem;
}

.link-container {
    display: flex;
}

.links {
    margin-top: 8px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.links:hover {
    cursor: pointer;
}

.first-links, .second-links {
    margin-left: 3.5rem;
}

.second-links {
    margin-top: 1.5rem;
}

.header {   
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header-top header-top"
        "header-bottom header-bottom";
}

.header-top {
    grid-area: header-top;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    font-size: 1.5rem;
    padding-right: 30rem;
    border-radius: .5rem;
}

#search-icon {
    font-size: 1.5rem;
}

#admin-icon {
    border-radius: 50%;
    border: 2px solid black;
    font-size: 4rem;
    color: orange;
}

.profile-info, .search-container {
    gap: .5rem;
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex;
    gap: 2rem;
    margin-bottom: 8px;
}

.profile-info > h3 {
    margin-right: 4rem;
}


.header-bottom {
    grid-area: header-bottom;
}

.main-content {
    grid-column: 2 / 3;
}