* {
    /* outline: 2px solid red; */
}

body {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  
    background: linear-gradient(to right, #8f94fb, #4e54c8); 
    color: #353535;
    box-sizing: border-box;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

ion-icon {
    cursor: pointer;
}

.icons {
    margin-left: 1.5rem;
    display: inline-block;
    font-size: 2.6rem;
}

.container {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    border: 1px solid #353535;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    margin-left: 3.5rem;
}

.sidebar > h1 {
    font-size: 2.8rem;
}

.link-container {
    display: flex;
    margin-bottom: .5em;
}

.links {
    margin-top: 8px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.links:hover {
    cursor: pointer;
    text-decoration: underline #353535;
}

.second-links {
    margin-top: 1.5rem;
}

.header {   
    grid-area: 1 / 2 / 2 / 3 ;
    grid-template-columns: 3fr 1fr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#search-bar {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    padding-right: 25vw;
    border-radius: .5rem;
}

#search-bar:focus {
    outline: none;
}

.smaller-icons {
    font-size: 1.5rem;
}

#admin-icon {
    border-radius: 50%;
    border: 2px solid #353535;
    font-size: 4rem;
}

.profile-info, .search-container {
    gap: .5rem;
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex;
    gap: 2rem;
    margin-bottom: 8px;
    margin-right: 3.5em;
}

.add, .remove {
    border: 2px solid #353535;
    border-radius: .3em;
}

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: -20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr; 
    grid-auto-rows: 1fr;
    gap: 20px;
    height: 70%;
}

.cards {
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.text {
    margin-left: 20px;
    margin-right: 20px;
}


.functions {
    align-self: flex-end;
    margin-right: 20px;
    font-size: 1.5rem;
}

.functions > ion-icon {
    cursor: pointer;
    color: #353535;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.announcement-card-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.announcement-cards {
    margin: 0 10px;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.announcement-cards > p {
    margin-top: 0;
}

.announcement-cards > h3 {
    margin-bottom: 20px;
}

.announcement-card-container > .announcement-cards > p {
    margin-bottom: 15px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-card-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    margin-right: 20px;
}

.trending-card-container > .link-container {
    margin-top: 10px;
}

span p {
    cursor: pointer;
}

span > p:first-child {
    margin-bottom: 5px;
    font-size: 1rem;
}

span > p:last-child {
    font-size: .9rem;
}

p {
    margin: 0;
}

.users {
    margin-left: 10px;
}

.profile-icons {
    border-radius: 50%;
}
